mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
mypy==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
neo4j-driver==5.8.0 ; python_version >= "3.10" and python_version < "4.0"
neo4j==5.8.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.24.3 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
py4j==0.10.9.7 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==12.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyspark[sql]==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.5.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0"
